<h1>

  <%= @quiz.title %>
  <% @quizId = @quiz.id %>
</h1>


<h3>

<strong>Name:</strong>

<%= form_tag(quiz_results_path(@quizId)) do %>


  <%= text_field_tag :name %><br><br>
  <%= submit_tag "Start quiz", :class => 'btn' %>

<% end %>

</h3>