<h1>

  <%= @quiz.title %>
  <% @quizId = @quiz.id %>
</h1>


<p>
<strong>Name:</strong>

<%= form_tag(quiz_results_path(@quizId)) do %>


  <%= text_field_tag :name %>
  <%= submit_tag "Start quiz" %>

<% end %>

</p>