// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


*{
  font-family: "Courier New", "Courier", monospace;
  letter-spacing: -1px;
}

.btn{
  border-radius:5px;
  padding:10px;
  border:2px solid #000000;
  background-color: #ffffff;
  font-size: 18px;
  margin:15px;
}

input{
  height:20px;
}